{% extends 'Blog/layout.html' %}
{% block title %}INDEX{% endblock title %}
{% block content %}
<!-- 

    link css
-->
    {% load static %}
    <link rel="stylesheet" href="{% static 'Blog/style.css' %}">


<!--
    show all blogs
-->

    <div class="container bg-light p-5">
        <div class="row  text-info">
            <h1 class="offset-4 offset-lg-5">Trending Blogs</h1>
        </div>
        {% for item in blogs %}
        <div class="">
            <h1 class="row blog-title">{{item.Title}}</h1>
            <p class="row blog-date">{{item.date}}</p>
            <p class="row blog-content">{{item.content}}</p>
            <p class="row blog-category">{{item.Category}}</p>
            <p class="row blog-likes">{{item.likes}}</p>
            {% for i in comments %}
            {% if item.id == i.c.id %}
            <h2 class="col-md-5 bg-info ">{{i.comments}}</h1>
                {% endif %}
                {% endfor %}
                {% endfor %}
        </div>
    </div>

{% endblock content %}